.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px 15px 10px;

  img {
    height: 110px;
  }

  a {
    font-size: 26px;
    color: rgb(136, 136, 136);
    text-decoration: none;

    &:hover {
      color: rgb(77, 77, 77);
    }
  } 

  .active {
    color: black;
  }

  .desktop {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .burger {
    display: none;
  }
}

.backdrop {
  display: none;
}

.mobile {
  display: none;
}


@media (max-width: 765px) { 
  .navBar {
    .burger {
      display: block;
    }
  
    .desktop {
      display: none;
    }
  }

  .backdrop {
    display: block;
    position: absolute;
    top: 90px;
    left: -100%;
    transition: left 1s;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 5;
    &.openMenu {
      left: 0;
      transition: left 1s;
    }
  }

  .mobile {
    position: absolute;
    top: 90px;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    gap: 70px;
    box-sizing: border-box;
    z-index: 10;
    background-color: white;
    padding-block: 20px;
    padding-right: 5%;
    transition: left 1s;
    &.openMenu {
      left: 0;
      transition: left 1s;
    }

    a {
      margin-bottom: 0;
      font-size: 37px;
      margin-left: 30px;
    }
  }
}

@media (max-width: 479px) {
  .navBar {
    padding: 10px;
    z-index: 10;

    .mobile {
      padding-inline: 10px;
    }
    img {
      height: 70px;
    }

    a {
      font-size: 16px;
    }

    a, h1 {
      margin-bottom: 0;
    }
  }  
  
}