.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px 15px 10px;

  img {
    height: 110px;
  }

  a {
    font-size: 26px;
    color: rgb(136, 136, 136);
    text-decoration: none;

    &:hover {
      color: rgb(77, 77, 77);
    }
  } 

  .active {
    color: black;
  }

  .desktop {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .burger {
    display: none;
  }
}

.mobile {
  display: none;
}


@media (max-width: 765px) { 
  .navBar {
    .burger {
      display: block;
    }
  
    .desktop {
      display: none;
    }
  }

  .mobile {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    z-index: 10;
    background-color: white;
    padding-block: 20px;
    padding-right: 5%;
    transform: translateX(-200%);
    transition: transform 1s;
    &.openMenu {
      transform: translateX(0);
      transition: transform 1s;
    }

    a {
      margin-bottom: 0;
      font-size: 37px;
    }
  }
}

@media (max-width: 479px) {
  .navBar {
    padding: 10px;
    z-index: 10;

    .mobile {
      padding-inline: 10px;
    }
    img {
      height: 70px;
    }

    a {
      font-size: 16px;
    }

    a, h1 {
      margin-bottom: 0;
    }
  }  
  
}